*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size)* .9);
}

body {
    margin: 0;
    overflow: hidden;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    /* Hide scrollbars */
}

/* Add a black background color to the top navigation */

.topnav {
    background-color: rgb(242, 247, 253);
    overflow: hidden;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

/* Style the links inside the navigation bar */

.winnerMessage {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.resetDiv {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

/* Change the color of links on hover */

.topnav div:hover {
    background-color: white;
    color: black;
}

.topnav .resetDiv:hover {
    background-color: #ff8e8e;
    color: black;
    cursor: pointer;
}

/* Place the navbar at the bottom of the page, and make it stick */

.bottomNavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 247, 253);
    overflow: hidden;
    border: 2px solid black;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.xScoreDiv,
.oScoreDiv {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.xScoreDiv {
    float: left;
}

.oScoreDiv {
    float: right;
}


.oContainer {
    width: calc(var(--cell-size) * .77);
    height: calc(var(--cell-size) * .77);
    display: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    pointer-events: none;
}

.xContainer {
    width: calc(var(--cell-size) * .97);
    height: calc(var(--cell-size) * .97);
    display: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    pointer-events: none;
}

.boardContainer {
    margin-top: 15%;
    margin-bottom: 15%;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n +1) {
    border-left: none;
}

.cell:nth-child(3n +3) {
    border-right: none;
}

.cell:last-child, .cell:nth-child(8), .cell:nth-child(7) {
    border-bottom: none;
}